body {
  background: radial-gradient(circle at center top, hsl(214, 47%, 23%) 0%, hsl(237, 49%, 15%) 100%);
  font-family: 'Barlow Semi Condensed', sans-serif;
  font-weight: 600;
  min-height: 100vh;
}

img {
  pointer-events: none;
}

/*-----------Setup-----------*/
.main-container {
  margin-top: 2%;
}

.main-col {
  text-align: center;
}

.title-score-box {
  display: flex;
  border-color: #506B95;
  border-color: hsl(217, 16%, 45%);
  border-radius: 1rem;
  border-style: solid;
}

.title-box {
  margin: 2rem 1rem 2rem 2rem;
  left: 0;
}

.score-box {
  text-align: center;
  border-radius: 1rem;
  margin: 1.5rem;
  padding: 0 2.3rem;
  margin-left: auto;
  background-color: white;
  color: hsl(229, 64%, 46%);
}

.score-display {
  margin: 10%;
  margin-top: 15%;
}

.score-number {
  font-weight: 700;
  font-size: 3rem;
  color: hsl(229, 25%, 31%);
}

.play-area {
  position: relative;
  margin: 2rem auto;
  text-align: center;
  height: 60%;
  width: 60%;
}

.pa-rpsls {
  height: auto;
}

.background-img {
  padding: 2rem 1rem;
  max-width: 100%;
  max-height: 100%;
}

.rpsls-bg {
  padding: 2rem;
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  margin: 0;
}

.btn-img {
  width: 2.5rem;
  height: 2.5rem;
}

.paper-btn {
  background-color: white;
  outline: none;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  border-radius: 50%;
  padding: 2vw;
  box-shadow: 0 8px 0 0 hsl(230, 89%, 62%);
  -webkit-box-shadow: 0 8px 0 0 hsl(230, 89%, 62%);
  -moz-box-shadow: 0 8px 0 0 hsl(230, 89%, 62%);
  border: solid hsl(230, 89%, 65%) 1.2rem;
  text-decoration: none;
  display: inline-block;
  cursor: pointer;
}

.paper-btn:enabled:active {
  outline: none;
  box-shadow: 0 4px 0 0 hsl(230, 89%, 62%);
  -webkit-box-shadow: 0 4px 0 0 hsl(230, 89%, 62%);
  -moz-box-shadow: 0 4px 0 0 hsl(230, 89%, 62%);
  transform: translateY(4px);
}

.paper-btn-align {
  position: absolute;
  top: 0;
  left: 0;
}

.scissors-btn {
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  border-radius: 50%;
  background-color: white;
  padding: 2vw;
  box-shadow: 0 8px 0 0 hsl(39, 89%, 49%);
  -webkit-box-shadow: 0 8px 0 0 hsl(39, 89%, 49%);
  -moz-box-shadow: 0 8px 0 0 hsl(39, 89%, 49%);
  border: solid hsl(40, 84%, 53%) 1.2rem;
  text-decoration: none;
  display: inline-block;
  cursor: pointer;
}

.scissors-btn:enabled:active {
  outline: none;
  box-shadow: 0 4px 0 0 hsl(39, 89%, 49%);
  -webkit-box-shadow: 0 4px 0 0 hsl(39, 89%, 49%);
  -moz-box-shadow: 0 4px 0 0 hsl(39, 89%, 49%);
  transform: translateY(4px);
}

.scissors-btn-align {
  position: absolute;
  top: 0;
  right: 0;
}

.rock-btn {
  background-color: white;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  border-radius: 50%;
  padding: 2vw;
  box-shadow: 0 8px 0 0 hsl(349, 71%, 52%);
  -webkit-box-shadow: 0 8px 0 0 hsl(349, 71%, 52%);
  -moz-box-shadow: 0 8px 0 0 hsl(349, 71%, 52%);
  border: solid hsl(349, 70%, 56%) 1.2rem;
  text-decoration: none;
  display: inline-block;
  cursor: pointer;
}

.rock-btn:enabled:active {
  outline: none;
  box-shadow: 0 4px 0 0 hsl(349, 71%, 52%);
  -webkit-box-shadow: 0 4px 0 0 hsl(349, 71%, 52%);
  -moz-box-shadow: 0 4px 0 0 hsl(349, 71%, 52%);
  transform: translateY(4px);
}

.rock-btn {
  background-color: white;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  border-radius: 50%;
  padding: 2vw;
  box-shadow: 0 8px 0 0 hsl(349, 71%, 52%);
  -webkit-box-shadow: 0 8px 0 0 hsl(349, 71%, 52%);
  -moz-box-shadow: 0 8px 0 0 hsl(349, 71%, 52%);
  border: solid hsl(349, 70%, 56%) 1.2rem;
  text-decoration: none;
  display: inline-block;
  cursor: pointer;
}

.rock-btn:enabled:active {
  outline: none;
  box-shadow: 0 4px 0 0 hsl(349, 71%, 52%);
  -webkit-box-shadow: 0 4px 0 0 hsl(349, 71%, 52%);
  -moz-box-shadow: 0 4px 0 0 hsl(349, 71%, 52%);
  transform: translateY(4px);
}

.rock-row {
  position: absolute;
  bottom: 0;
  width: 100%;
}

.spock-btn {
  background-color: white;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  border-radius: 50%;
  padding: 2vw;
  box-shadow: 0 8px 0 0 hsl(189, 59%, 53%);
  -webkit-box-shadow: 0 8px 0 0 hsl(189, 59%, 53%);
  -moz-box-shadow: 0 8px 0 0 hsl(189, 59%, 53%);
  border: solid hsl(189, 58%, 57%) 1.2rem;
  text-decoration: none;
  display: inline-block;
  cursor: pointer;
}

.spock-btn:enabled:active {
  outline: none;
  box-shadow: 0 4px 0 0 hsl(189, 59%, 53%);
  -webkit-box-shadow: 0 4px 0 0 hsl(189, 59%, 53%);
  -moz-box-shadow: 0 4px 0 0 hsl(189, 59%, 53%);
  transform: translateY(4px);
}

.lizard-btn {
  background-color: white;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  border-radius: 50%;
  padding: 2vw;
  box-shadow: 0 8px 0 0 hsl(261, 73%, 60%);
  -webkit-box-shadow: 0 8px 0 0 hsl(261, 73%, 60%);
  -moz-box-shadow: 0 8px 0 0 hsl(261, 73%, 60%);
  border: solid hsl(261, 72%, 63%) 1.2rem;
  text-decoration: none;
  display: inline-block;
  cursor: pointer;
}

.lizard-btn:enabled:active {
  outline: none;
  box-shadow: 0 4px 0 0 hsl(261, 73%, 60%);
  -webkit-box-shadow: 0 4px 0 0 hsl(261, 73%, 60%);
  -moz-box-shadow: 0 4px 0 0 hsl(261, 73%, 60%);
  transform: translateY(4px);
}

.rules-wrapper {
  position: relative;
  height: 90vh;
}

.rules-btn {
  position: absolute;
  left: 0;
  right: 0;
  bottom: 3rem;
  margin: auto;
  color: white;
  border-color: white;
}

.rules-btn:hover {
  background-color: white;
}

.rpsls-btn {
  position: absolute;
  left: 0;
  right: 0;
  bottom: 6rem;
  margin: auto;
  color: white;
  border-color: white;
}

.rpsls-btn:hover {
  background-color: white;
}

.rules {
  text-align: center;
  position: fixed;
  top: 10%;
  bottom: 10%;
  left: 30%;
  right: 30%;
  padding: 1rem;
  background-color: white;
  border-radius: 1rem;
}

.rules-image-wrapper {
  width: 80%;
  height: 80%;
  margin: .5rem auto;
}

.rules-top-wrapper {
  position: relative;
  min-height: 3rem;
}

.rules-span {
  left: 1rem;
  position: absolute;
  font-size: 2rem;
  color: hsl(229, 25%, 31%);
  font-weight: 700;
}

.close-btn {
  position: absolute;
  right: 1rem;
}

.attribution {
  text-align: center;
  margin-top: 10%;
  color: white;
}

/*----------Picked------------*/
.picked-text {
  position: relative;
  min-height: 3rem;
  text-align: center;
}

.yp {
  font-size: 2rem;
  font-weight: 700;
  color: white;
}

.hp {
  font-size: 2rem;
  font-weight: 700;
  color: white;
}

.picked {
  min-height: 12rem;
  padding-top: 1rem;
}

.vm-message {
  font-size: 2rem;
  font-weight: 700;
  color: white;
  display: block;
  margin: 2rem;
}

.replay-btn {
  padding: .5rem 4rem;
  font-size: 1.5rem;
}

@media only screen and (max-width: 600px) {
  .play-area {
    width: 100%;
  }

  .rules-wrapper {
    height: auto;
    margin-top: 10rem;
  }

  .rules {
    text-align: center;
    position: fixed;
    top: 15%;
    bottom: 15%;
    left: 5%;
    right: 5%;
    padding: 1rem;
    background-color: white;
    border-radius: 1rem;
  }
}
